*.exp
*.pch
*.cod
*.map
*.exe

*.dep

*.lnk
*.lnt
*.htm
*.obj
*.a
moc_*.cpp
*.Debug
*.Release
*.pro.user.*
*.cd

/GeneratedFiles
_UpgradeReport_Files/
*/debug
*/Release


*.old
*.XML
*.vsprops

*.APS
*.ncb
*.user
*.sln
*.suo
*.idb
*.pdb
*.htm
*.html